.footer
    background-color #164da8
    background-position top center
    background-repeat no-repeat
    text-align center
    padding 90px 0 31px
    &__bottom
        display flex
        justify-content space-between
        border-top 1px solid rgba(255, 255, 255, .3)
        padding-top 50px
    &__list 
        display flex
        justify-content space-between
        li 
            padding-right 41px
    .title
        margin-bottom 32px
        color $white 
    &__risk
        font-weight 400
        font-size 15px
        color $gray-2
        line-height 25px
        margin-top 30px
        a 
            color $white 
    &__copyright
        font-weight 400
        font-size 14px
        color $gray-2
        line-height 18px
    &__menu
        text-align left
        li 
            margin-bottom 13px
        &-wrapper 
            display flex
            justify-content space-between
            flex-grow 1
            margin-left 150px
    &__center
        display flex
        justify-content space-between
        margin 65px 0 35px
        margin-right 25px
        p
            font-weight 400
            font-size 17px
            color $gray-2
            line-height 24px
            margin-bottom 15px
            text-align left
        a
            font-weight 400
            font-size 17px
            color $white
            line-height 20px
        