.header
    &__top
        background $blue
        padding 15px
        a 
            font-weight 400
            font-size 14px
            opacity 0.8
            color $white
            line-height 20px
            font-family $default-font
            &:hover
                color $black
        &-wrapper 
            display flex
            justify-content space-between
    &__contacts 
        display flex
        justify-content space-between
        padding-left 26px
        svg 
            margin-right 10px
    &__link 
        display flex
        align-items center
        margin-right 27px 
    &__anoun 
        font-family $default-font
        font-weight 700
        color $white
        opacity 0.8
        line-height 20px
        font-size 14px
        span 
            font-weight 400
            text-decoration underline
    