.header
    &__top
        background $blue
        padding 15px
        a 
            font-weight 400
            font-size 14px
            opacity 0.8
            color $white
            line-height 20px
            font-family $default-font
            &:hover
                color $black
        &-wrapper 
            display flex
            justify-content space-between
    &__contacts 
        display flex
        justify-content space-between
        padding-left 26px
        svg 
            margin-right 10px
    &__link 
        display flex
        align-items center
        margin-right 27px 
    &__anoun 
        font-family $default-font
        font-weight 700
        color $white
        opacity 0.8
        line-height 20px
        font-size 14px
        span 
            font-weight 400
            text-decoration underline
    &__bottom
        margin-top 22px
        &-wrapper
            display flex
            justify-content space-between
            align-items center 
    &__menu
        display flex
        justify-content space-between
        margin-right 42px
        a 
            font-weight 500
            font-size 14px
            color $black
            letter-spacing 1px
            text-transform uppercase
            &:hover 
                color $blue
        &-wrapper 
            display flex
            justify-content space-between
            margin-top 13px
        li 
            display flex
            align-items center 
            margin-left 52px
    &__btns
        display flex
        justify-content space-between
    &__mobile 
        width 26px
        height 26px 
        position relative
        top 10px
        display none
        &-line 
            width 100%
            height 2px
            display inline-block
            background $black
            position absolute
            top 0
            left 0
            &-2 
                top 8px
            &-3
                top 16px