.item
    &-1 
        top 22%
        left 11.2%
    &-2 
        top 46.4%
        left 12.4%
    &-3 
        top 36.4% 
        left 18.8%
    &-4
        top 64.2% 
        left 19%
    &-5
        top 77% 
        left 24.8%
    &-6
        top 85% 
        left 21.3%
    &-7
        top 24.5% 
        left 37.4%
    &-8 
        top 31.5%
        left 40%
    &-9 
        top 54.2%
        left 39.1%
    &-10 
        top 57.7%
        left 50.6%
    &-11
        top 68.7%
        left 48%
    &-12
        top 77.75%
        left 45.65%
    &-13 
        top 36.7%
        left 47%
    &-14
        top 28.9%
        left 48.4%
    &-15
        top 18.3% 
        left 53.8%
    &-16
        top 40%
        left 40%
    &-17 
        top 33.2%
        left 57.9%
    &-18 
        top 54.9%   
        left 60.7%  
    &-19 
        top 53.2%
        left 67.8%
    &-20
        top 31.6%
        left 67.5%
    &-21
        top 37.9%
        left 75.7%
    &-22
        top 61%
        left 71.3%
    &-23
        top 77.6%
        left 79.2%

@media (max-width : 1400px)
    .item
        &-1 
            top 18%
        &-2
            top 39.4%
        &-3
            top 31.4%
        &-4 
            top 56.2%
        &-5 
            top 66%
        &-6 
            top 74%
        &-7 
            top 20.5%
            left 38.4%
        &-8 
            top 26.5%
            left 40.5%
        &-9 
            top 46.2%
            left 39.1%
        &-10 
            top 49.7% 
            left 52%
        &-11 
            top 58.7%
            left 49.5%
        &-12 
            top 66.75%
            left 46.65%
        &-13 
            top 31.7%
            left 48%
        &-14 
            top 23.9%
            left 48.4%
        &-15 
            top 16.3%
            left 55.8%
        &-16 
            top 35%
            left 40%
        &-17 
            top 28.2%
            left 59.9%
        &-18 
            top 46.9% 
            left 62.4%
        &-19 
            top 45.2%
            left 69.8%
        &-20 
            top 27.6% 
            left 68.5%
        &-21 
            top 30.9%
            left 77.7%
        &-22 
            top 52%
            left 73.3%
        &-23 
            top 65.6%
            left 81.2%