.map
    max-width 1440px
    width 100%
    position relative
    margin 0 auto 
    min-height 693px
    top -52px
    left 50px
    &__background
        &-wrapper
            position absolute
            top 0
            left 0
            right 0
            bottom 0
    &__item
        box-shadow 20px 20px 20px rgba(63, 67, 77, 0.12)
        background-color $white
        font-weight 700
        font-size 16px
        color $black
        display inline-block
        position absolute
        padding 5px 9px
        &:after 
            content ''
            position absolute
            right 0
            bottom -10px
            border 10px solid transparent 
            border-right 10px solid $white 
        &-inner 
            display flex
            align-items center
            img 
                align-self center 
                display inline-block
                margin-right 5px
                max-width 20px

.selection
    text-align center
    top -85px
    position relative
    &__title
        font-weight 700
        font-size 20px
        color $black
        line-height 30px
    .footer__risk
        color $gray
        margin-top 10px
        a 
            color $blue

.how
    padding 100px 0 0
    &__wrapper
        display flex
        justify-content space-between
        flex-wrap wrap 
        margin 50px 0 20px
    &__item
        background-color $blue
        width 33.33%
        max-width 340px
        width 100%
        padding 40px 40px 50px 40px
        margin-bottom 75px
        position relative
        &-1,
        &-2 
            &:after
                position absolute
                content ''
                background-image url(../img/left__arrow.svg)
                width 76px
                height 14px
                right -69px
                top 50%
                transform translateY(-50%)
        &-3 
            &:after
                position absolute
                content ''
                background-image url(../img/down__arrow.svg)
                height 76px
                width 14px
                left 50%
                top 100%
                transform translate(-50%, -10%)
        &-5,
        &-6
            &:after
                position absolute
                content ''
                background-image url(../img/right__arrow.svg)
                width 76px
                height 14px
                left -65px
                top 50%
                transform translateY(-50%)
    &__title
        display flex
        justify-content space-between
        align-items flex-end 
        padding-bottom 10px
        span 
            font-weight 700
            font-size 20px
            color $white
            line-height 30px
        img 
            position relative
            top -10px
    a 
        color $white
    .title
        text-align center

.for
    background-color #f6f7fa
    text-align center
    padding 100px 0 70px
    span    
        color $black
    .text 
        color $gray
        margin-top 15px
    &__item
        box-shadow 0 2px 4px #eff1f5
        background-color $white
        text-align left
        max-width 270px
        width 100%
        padding 30px 30px
        min-height 285px
        margin 0 10px
        &:first-child
            margin-left 0
        &:last-child
            margin-right 0
    &__wrapper
        display flex
        justify-content space-between
        margin 30px 0 40px
    &__risk 
        font-weight 400
        font-size 15px
        color $gray
        line-height 25px
        a
            color $blue


.lines
    padding 94px 0 100px
    background #f6f7fa
    &__wrapper
        display flex
        align-items flex-end
        justify-content space-between
        margin-top -81px
    &__titles
        display flex
        flex-direction flex-end
    &__information
        display flex
        justify-content space-between
    &__title 
        font-weight 700
        font-size 20px
        color $gray
        line-height 30px
        margin-bottom 20px
    &__text
        width 50%
        p 
            font-family $avenir-font
            font-weight 600
            font-size 30px
            color $black
            line-height 40px
    &__sort 
        position relative
        top 16px
        p 
            font-weight 700
            font-size 15px
            color $black
            line-height 25px
        &-text 
            font-weight 700
            font-size 15px
            color $gray
            line-height 20px
            display flex
            align-items center
            margin-top 16px 
    &-sq
        display inline-block
        width 20px
        height 20px
        position relative
        margin-right 10px
        &:after 
            position absolute
            content ''
            width 6px
            height 6px
            background #f6f7fa
            left 50%
            top 50% 
            transform translate(-50%, -50%)
    &__rates
        display flex
        justify-content space-between
        margin-top 26px
        h3
            font-weight 700
            font-size 20px
            color $black
            line-height 30px
            margin-bottom 10px
        p 
            font-weight 400
            font-size 20px
            color $gray
            line-height 30px
        .lines__text
            &:last-child
                max-width 270px
    &__fas 
        font-weight 400
        font-size 15px
        color $gray
        line-height 25px
        margin-top 50px
        a 
            color $blue 
        


.uk 
    background $blue-btn
.other 
    background $blue-graph



.line
    width 20px
    background-color $blue-graph
    position relative
    z-index 1
    &__info
        display flex
        writing-mode tb-rl
        width 20px
        height 100px
        position relative
        z-index 1
        span 
            font-weight 700
            font-size 14px
            color $gray
            display inline-block
            padding-top 10px
        &:hover
            .line__tooltip 
                display block
        img
            max-width 20px
    &__wrapper
        margin-right 15px
        position relative
        &:last-child
            margin-right 0
        &:before
            content ''
            position absolute
            bottom 50px
            left 50%
            transform translateX(-50%)
            background-image url(../img/line.png)
            width 2px
            height 100%
    &__tooltip
        writing-mode horizontal-tb
        position absolute
        box-shadow 10px 10px 20px rgba(63, 67, 77, 0.15)
        background-color $white
        text-align center
        transform translateX(-50%)
        display none
        left 10px
        padding 4px 8px
        top -55px 
        white-space pre
        &:after 
            content ''
            position absolute
            bottom -7px
            left 50%
            transform translateX(-50%) rotate(45deg)
            width 15px
            height 15px
            background $white
        span    
            font-weight 700
            font-size 15px
            color $black
            padding 0

.accordion
    &__item
        position relative
        &-active 
            .accordion__thumb
                &:before
                    transform rotate(45deg)
        &:last-child
            .accordion__line
                display none
    &__thumb 
        font-weight 500
        font-size 20px
        color $black
        line-height 30px
        cursor pointer
        display flex
        align-items center 
        padding 0 30px
        padding-top 25px
        &:before
            content ''
            display inline-block
            width 9px
            height 9px
            border-right 3px solid $blue
            border-bottom 3px solid $blue
            transform rotate(45deg)
            transition transform .2s ease-out
            position absolute
            top 34px
            left 2px
    &__panel 
        display none
        font-weight 300
        font-size 20px
        color $gray
        line-height 30px
        padding 0 30px
        padding-top 20px
    &__line 
        height 1px
        width 100%
        opacity 0.5
        background-image linear-gradient(270deg, $white 0%, #c1c9d7 100%)
        margin-top 25px

.faq 
    padding 30px 0 100px
    &__wrapper 
        display flex
        justify-content space-between
    &__dropdown
        max-width 800px
        padding-top 22px
    &__title
        padding-top 25px
        padding-right 50px
        .title 
            text-align left 