@import "_vars.styl"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media (max-width : 1400px)
	.map
		&__background-wrapper 
			max-width 1200px
			margin 0 auto 
		&__item
			font-size 14px

@media (max-width : 1200px)
	.header 
		&__top
			&-wrapper 
				flex-direction column 
		&__contacts 
			justify-content flex-start
			padding-left 0
		&__anoun 
			margin-top 20px

	.map
		min-height 520px
		&__background-wrapper 
			max-width 992px
			margin 0 auto 
	.how
		&__item 
			padding 40px 30px 50px
			max-width 310px
	

/* Medium Devices, Desktops */
@media (max-width : 992px)
	.map
		&__background-wrapper 
			max-width 768px
			margin 0 auto 
	.how 
		&__item 
			max-width none 
			width 48%
			&:first-child
				margin-right 25px
	.header
		&__menu
			margin 0
			flex-direction column
			align-items center 
			li 
				margin 0 0 15px 0
			&-wrapper 
				position fixed
				background $white
				z-index 10
				bottom 0
				top 0 
				left 0 
				right 0
				display flex
				align-items center 
				flex-direction column 
				justify-content center 
				margin 0
				height 100vh
				width 100vw
				transform translateX(-100%)
				transition all .3s ease 
		&__btns 
			flex-direction column
			align-items center  
		&__btn 
			margin 0 0 15px 0
			a 
				margin 0
		&__mobile
			display block 

/* Small Devices, Tablets */
@media (max-width : 768px)
	.map
		overflow hidden
		&__background
			width 100%
			left 50%
			position absolute
			transform translateX(-50%)
			max-width none
			&-wrapper 
				position absolute
				top 0
				left 50%
				right 0
				bottom 0
				transform translateX(-50%)
				overflow hidden
				width 1000px

/* Extra Small Devices, Phones */
@media (max-width : 480px)
	.header
		&__contacts 
			justify-content space-between
		&__link 
			margin-right 0

/* Custom, iPhone Retina */
@media (max-width : 380px)
	.header
		&__top 
			a 
				font-size 12px
		&__anoun 
			margin-top 15px
			font-size 12px
