@import "_vars.styl"

/*==========  Desktop First  ==========*/
@media (max-width : 1440px)
	.map
		&__background-wrapper 
			max-width 1200px
			margin 0 auto 
		&__item
			font-size 14px

@media (max-width : 1200px)
	.wrapper
		padding 0 30px
	.header 
		&__contacts 
			justify-content flex-start
			padding-left 0
		&__link
			margin-right 20px
			&:last-child
				margin-right 0
		&__anoun 
			width 381px
			overflow hidden
			text-overflow ellipsis
			white-space nowrap
		&__top
			padding 15px 0
		&__menu
			margin-right 20px
			li 
				margin-left 30px
	.map
		min-height 520px
		&__background-wrapper 
			max-width 992px
			margin 0 auto 
	.line
		&__wrapper 
			margin-right 5px
	.footer
		&__menu
			&-wrapper 
				margin-left 50px
	.for 
		&__item 
			width 48%
			min-height 245px
			max-width none 
			margin 0 0 30px 0
			&:nth-child(even)
				margin-left 14px
			&:nth-child(odd)
				margin-right 14px
		&__wrapper 
			flex-wrap wrap 
	.how 
		&__item 
			max-width none 
			width 47%
			&-1 
				order 0
			&-2 
				order 1
				margin-left 24px
				&:after 
					background-image url("../img/down__arrow.svg")
					height 75px
					width 14px
					top 100%
					left 50%
					transform translate(-50%, -10%)
			&-3 
				order 3
				margin-left 24px
				&:after
					background-image url(../img/right__arrow.svg)
					width 75px
					height 14px
					left -65px
					top 50%
					transform translateY(-50%)
			&-4
				order 5
				margin-left 24px
				&:after
					position absolute
					content ''
					background-image url(../img/right__arrow.svg)
					width 75px
					height 14px
					left -65px
					top 50%
					transform translateY(-50%)
			&-5
				order 4
				&:after
					display none
			&-6 
				order 2
				&:after 
					background-image url("../img/down__arrow.svg")
					height 75px
					width 14px
					top 100%
					left 50%
					transform translate(-50%, -10%)

@media (max-width : 992px)
	.map
		overflow hidden
		left 0
		&__background
			width 100%
			left 50%
			position absolute
			transform translateX(-50%)
			max-width none
			&-wrapper 
				position absolute
				top 0
				left 50%
				right 0
				bottom 0
				transform translateX(-50%)
				overflow hidden
				width 1040px
	.header
		&__logo
			max-width 180px
		&__bottom
			margin-top 27px
	.title
		max-width 594px
		margin 0 auto 
	.lines
		padding 80px 0
		&__wrapper
			flex-direction column 
			align-items flex-start
			margin-top 30px
		&__sort
			top auto 
		&__text
			p 
				line-height 35px
				font-size 25px
		&__rates
			margin-top 36px
			p 
				font-size 20px
				line-height 30px
		&__information
			margin-bottom 34px
	.line
		order 1
		transform translateY(-50%)
		top 10px
		&__wrapper 
			display flex
			height 20px
			width 100%
			position relative
			margin-bottom 15px
		&__info
			display flex
			justify-content space-between
			writing-mode inherit
			order 0 
			width 99px
			height auto 
			span
				order 0
				padding-top 0
				display flex
				align-items center
			img 
				align-self center 
				order 1
		&__wrapper
			&:before 
				width 100%
				height 2px
				background-image url(../img/mobile_line.png)
				transform inherit 
				left 99px
				background-repeat no-repeat
				top 9px
	.footer
		padding 80px 0 24px
		&__menu
			&-wrapper 
				margin 0
				flex-wrap wrap 
				max-width 620px
			&-item 
				width 50%
				padding-left 80px
		&__center 
			margin 50px 0 25px 0
		.title
			margin-bottom 42px
		&__risk
			margin-top 20px
		&__bottom
			padding-top 40px
	.faq 
		padding 60px 0 45px
		&__wrapper 
			flex-direction column 
		&__dropdown 
			max-width none 
		&__title 
			padding-right 0
		.title 
			margin 0
			max-width none 
			br 
				display none
	.how
		padding 80px 0 0
		&__item
			min-height 300px
			margin-bottom 48px
			&-2,
			&-3,
			&-4 
				margin-left 14px
		&__wrapper
			margin-top 38px
	.main
		padding-top 62px
	.for
		&__wrapper
			margin-bottom 20px
		&__risk
			margin-top -25px
			
@media (max-width : 767px)
	.wrapper 
		padding 0 20px
	.header
		&__menu
			margin 0
			flex-direction column
			align-items center 
			li 
				margin 0 0 15px 0
			a
				font-size 20px
				color $black
				letter-spacing 1.43px
				line-height 30px
				text-transform uppercase
			&-wrapper 
				position fixed
				background $white
				z-index 10
				z-index -1
				bottom 0
				top 0 
				left 0 
				right 0
				display flex
				align-items center 
				flex-direction column 
				justify-content center 
				margin 0
				height 100vh
				width 100vw
				transform translateX(-100%)
				transition transform .3s ease 
				visibility hidden
		&__btns 
			flex-direction column
			align-items center  
			max-width 215px
			width 100%
			margin-top 25px
		&__btn 
			margin 0 0 15px 0
			width 100%
			a 
				margin 0
				width 100%
				text-align center
		&__mobile
			display block 
		&__anoun 
			display none
		&__contacts 
			width 100%
			justify-content space-between
	.btn
		font-size 15px
		padding 13px 20px
	.selection
		top -110px
	.footer
		&__center
			flex-direction column 
			a 
				font-size 15px
		&__menu
			&-item 
				padding-left 0
				padding-right 20px
				p 
					br
						display none
	.show
		.header__anoun 
			display block
			position fixed
			bottom 0
			left 0
			right 0 
			width 100%
			height 100%
			max-height 100px
			background-color #f6f7fa
			text-overflow inherit 
			font-size 14px
			color $gray
			line-height 20px
			white-space inherit 
			text-align center
			padding 20px
	.for
		padding 80px 0 70px
		&__item
			&:nth-child(odd)
				margin-right 5px
			&:nth-child(even)
				margin-left 5px
		&__risk 
			text-align left
			margin-top -20px
	.lines
		&__information
			flex-direction column 
		&__text
			width 100%
			margin-bottom 40px
		&__title 
			margin-bottom 10px
		&__rates
			flex-direction column 
			.lines__text
				margin-bottom 0
		&__fas
			margin-top 23px
	.how 
		&__item
			width 100%
			&:nth-child(even),
			&:nth-child(odd)
				margin 0 0 50px 0
			&:after 
				background-image url("../img/down__arrow.svg")
				height 76px
				width 14px
				top 100%
				left 50%
				transform translate(-50%, -10%)
			&-1 
				order 0
			&-2 
				order 1
			&-3 
				order 2
			&-4
				z-index 3
				&:after
					display none
			&-5
				z-index 2
				&:after
					display block

@media (max-width : 580px)
	.line
		left 14px !important
		&__info
			width 81px

@media (max-width : 480px)
	.header
		&__contacts 
			justify-content space-between
		&__link 
			margin-right 0
		&__logo 
			max-width 150px
		&__btns
			margin 0
	.title 
		font-size 40px
		line-height 50px
	.footer 
		padding 80px 0 40px
		&__center
			margin 40px 0 20px
			p 
				font-size 15px
		&__menu
			&-item 
				margin-bottom 10px
			&-wrapper 
				margin-top 26px
		&__bottom 
			flex-direction column 
			align-items flex-start
			padding-top 30px
		&__copyright 
			order 1
			margin-top 22px
		&__list 
			order 0
	.accordion
		&__thumb
			padding 25px 0 0 25px
		&__panel 
			padding 25px 0 0 25px
	.for 
		&__item
			width 100%
			&:nth-child(odd),
			&:nth-child(even)
				margin 0 0 30px 0
		&__wrapper 
			margin 32px 0 20px
		&__risk
			margin-top -25px
	.subtitle
		text-align left 
		font-size 25px
		line-height 30px
	.main
		padding-top 45px
	.selection
		.footer__risk
			margin-top 20px
	.lines
		margin-top -30px
		&__text
			margin-bottom 20px
		&__information
			margin-bottom 28px
		&__sort
			&-text 
				margin-top 10px
		&__rates
			margin-top 30px
	.faq
		&__title
			padding-top 20px
	.footer
		.title
			margin-bottom 30px

@media (max-width : 379px)
	.header
		&__top 
			a 
				font-size 12px
		&__anoun 
			margin-top 15px
			font-size 12px
	.line
		&__info
			max-width 70px !important 
			span 
				font-size 12px
			
