$default-font = "Roboto", sans-serif
$avenir-font = "AvenirNextCyr", sans-serif 
$white = #ffffff
$black = #000000
$blue-graph = #3f70d9
$blue = #2364d0
$gray-2 = #8fb0e7
$blue-btn = #ff7171
$gray = #858ea3